<a href="https://colab.research.google.com/github/thakurnaman0987-dev/GEN-AI/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

      x=10
x

10

# New Section

In [ ]:
mysub = "python"
mysub

'python'

In [ ]:
print(mysub)

python

In [ ]:
_mycity ="solan"
_mycity

'solan'

In [ ]:
mysub1 = "generative AI"
mysub1

'generative AI'

In [ ]:
#fbr variable meaning ,not use number on first

In [ ]:
#for variable naming we cannot use symbole and keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#data type in python
#numeric
#integer---absence of decimal point is know as integer
#ex--1,2,3,4
x = 1
type(x)

int

In [ ]:
#floting point number--presence of decimal point
#ex1 -- 2.12, 2.33
y = 0.0
type(y)

float

In [ ]:
#complex ---combination real and imaginary
z = 3+4j
type(z)

complex

In [ ]:
#string-- data in the form text
x = "solan"
type(x)

str

In [ ]:
#boolan -- it used to store value tre and fules
a = True
type(a)

bool

In [ ]:
#none -- define null value
e = None
type(e)

NoneType

In [ ]:
#single quotes string
my_sub ="generative AI"
type(my_sub)

str

In [ ]:
#single quotes string
my_college = "Shoolini university"
type(my_college)

str

In [ ]:
my_sub = "machine learning "
print(my_sub)

machine learning

In [ ]:
len(my_sub) #len() is function which is length of string

17

In [ ]:
my_sub[0]

'm'

In [ ]:
my_sub[-1]

' '

In [ ]:
my_sub[-16]

'a'

In [ ]:
my_sub = "machine learning"
my_sub[0:10:1]

'machine le'

In [ ]:
#lower()-- this mathod convert string into lower case
my_sub = "python"
my_sub.lower()

'python'

In [ ]:
my_list[0:4]

NameError: name 'my_list' is not defined

In [ ]:
my_list[: ;-1]

In [ ]:
#function in list
print(my list)

In [ ]:
#shorted()--this function arrange in increasing order and decreasing
sorted(my_list, reverse = true)

In [ ]:
#extend()--this method merge list into another list
list1 =[89, 90 , 67 ]
list2 = [23, 45 , 67]
list1.extend(list2)
print(list1)

# New Section

In [ ]:
#sort()--this method use to arrange list increasing order or decreasing order
my_list = [12, 23, 9, 8, 78]
my_list.sort(reverse = True)
my_list

In [ ]:
#pop()--this method remove item from the list and take index as argument
list1 = [12, 23, 45, 13]
list1.pop(2)

In [ ]:
#remove()--this method remove item from list, take item as argument
my_list = [89, 67, 54, 34]
my_list.remove(67)

In [ ]:
my_list

In [ ]:
#dictionary
my_dist = {"HP":"SHM", "UP":"LUCK"}
type(my_dict)

In [ ]:
print(my_dist["HP"])
print(my_dist["UP"])

In [ ]:
my_sub = "python"
for i in my_sub:
  print(i)

In [ ]:
#range
for i in range(0, 6, 1):
  print(i)

In [ ]:
for i in range(6):
  print(i)

In [ ]:
#lsit
my_list = [89, 90, 67, 54, 23 ]
for i in my_list:
  print(i)

89
90
67
54
23

In [ ]:
#while loop
i = 0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

#loop control statement

In [ ]:
#continue--this statement sip the current iteration
i = 0
while i<5:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5

In [ ]:
#pass---pass the line
i = 0
i+=1
if i==3:
  pass
  print(1)
  else:
    print(1)

SyntaxError: invalid syntax (ipython-input-1667333082.py, line 7)

In [ ]:
#non keyword variable lenght argumrnt
def test(*args):
  print(args)
  print(len(args))
  print(type(args))

In [ ]:
test(2,3,4,5,6)

In [ ]:
def sum_number(*args):
  sum = 0
  for num in args:
    sum+=num
    return sum

In [ ]:
sum_number(1,2,3,4,5,6)

In [ ]:
#keyword variable lenght argument
def test(**kwargs):
  print(kwargs)
  print(len(kwargs))
  print(type(kwargs))

In [ ]:
test(a = 10, b = 20, c = 30)

In [ ]:
def pass_student(**kwargs):
  pass_student_list = []
  for name, marks in kwargs.items():
    if marks>35:
      pass_student_list.append(name)
      return pass_student_list

In [ ]:
pass_student(A =10,B = 20,C =40, D =50, E = 60, F = 30)

In [ ]:
#one dimensional array
oned_array = np


















































































































 . array([1,2,3,4])
print(oned_array)

IndentationError: unexpected indent (ipython-input-2120961421.py, line 117)

In [ ]:
#two dimensionl array
twod_array = np.array([[1,2,3,4],[5,6,7,8]])
print(twod_array)

In [ ]:
import numpy as np
my_array = np.array([1,2,3,4])
print(my_array)

In [ ]:
exp_array = np.

In [ ]:
age_of_car = hp.array([1,2,3,4,5,6,7,8])
speed_of_car = hp.array([9,8,7,6,5,4,3,2])
plt.scatter(age_of_car, speed_of_car)
plt.show()

In [ ]:
inport pandas as pd

SyntaxError: invalid syntax (ipython-input-367464543.py, line 1)